.about__div {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: $m-pm;
}

.about__h1 {
  font-family: $heading;
  font-size: $xl-size;
}

.about__text {
  font-family: $text;
  font-size: $m-size;
  line-height: 1.5;
  max-width: 65%;
}

@media (max-width: $desktop-breakpoint) {
  .about__text {
    max-width: 95%;
  }

  .about__div {
    padding: 0 $m-size $m-size $m-size;
  }
}
