header {
  background: $light-grey;
  border-bottom: 2px solid $grey;
  color: $off-black;
}

.my_items {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 30rem;
}

.logo,
.menu-link,
.logo:visited,
.menu-link:visited {
  border-bottom: 2px solid $light-grey;
  color: black;
  font-family: $heading;
  font-size: $m-size;
  letter-spacing: 1px;
  padding: $s-size;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease;
}

.menu-link:hover {
  border-bottom: 2px solid $off-black;
}

.logo {
  padding: 0;
  h1 {
    font-weight: normal;
    margin: $s-size;
  }
}

@media (max-width: $desktop-breakpoint) {
  .menu-link {
    font-size: $s-size;
  }

  .logo {
    font-size: $m-size;
  }
}
