.homepage__div {
  padding-top: $l-pm;
}

.homepage__h1 {
  font-family: $heading;
  font-size: 6rem;
}

.homepage__p {
  font-family: $text;
  font-size: 2rem;
}

@media (max-width: $desktop-breakpoint) {
  .homepage__div {
    max-width: 95%;
    padding-top: $m-pm;
    text-align: center;
  }

  .homepage__h1 {
    font-size: 4rem;
  }

  .homepage__p {
    font-size: 2rem;
  }
}
