//Colors
$green: #018185;
$light-green: #3bbfc3;
$off-black: #35373c;
$black: #292b2f;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Fonts
$heading: "Saira Semi Condensed", sans-serif;
$text: "Saira Semi Condensed", sans-serif;

//Padding / Margins
$s-pm: 5rem;
$m-pm: 10rem;
$l-pm: 15rem;
$xl-pm: 20rem;
